@import '../variables';

/*logo*/
#header {
    padding: 20px 0;
    background-color: $header_color;
}

.header__container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link > img {
    max-height: 70px;
}

/*header menu*/

.header__menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
}

.menu__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-45%);
    cursor: pointer;
}

.menu__button {
    height: 40px;
    width: 100%;
    padding: 10px 20px;
    padding-left: 40px;
    background-color: $background_color_white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.menu__dropdown {
    position: absolute;
    right: 0px;
    top: 45px;
    min-width: 150px;
    background-color: $background_color_white;
    border: 1px solid #000000;
    opacity: 0;
    border-radius: 5px;
    transform: translateY(10px);
    visibility: hidden;
    transition: 0.3s;
    z-index: 2;

    &.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.menu__list {
    display: flex;
    flex-direction: column;
}

.menu__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
    font-weight: 500;
    color: $text_color_black;
    cursor: pointer;
    padding: 20px 20px;
}

.menu__link:not(:last-child) .menu__item::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000000;
    left: 0;
    bottom: 0;
}

.menu__item.icon {
    margin-right: 15px;
    font-size: 14px;
    color: gray;
}
