@import '../variables';
@import '../mixins';

#home {
    background-image: url(../../components/Assets/gwent.jpg);
    background-position: 0 -24px;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 110px);
}

#home .home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home__container .home__btn {
    @include pvz_button;
    padding: 50px 100px;
    font-size: 5em;
    letter-spacing: 4px;
    border-radius: 30px;
    box-shadow: 0 20px #556b2f;

    &:hover {
        box-shadow: 0 16px $button_box_shadow;
    }

    &:active {
        box-shadow: 0 5px $button_box_shadow;
    }
}
