@import '../variables';
@import '../mixins';

/*loginRegisterPage*/
#loginRegisterPage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: url(../../components/Assets/gwent.jpg) center/cover no-repeat;
}

.loginRegisterPage__wrapper {
    position: relative;
    width: 420px;
    height: 450px;
    background: $form-background_color;
    border-radius: 10px;
    color: $text_color_white;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: height 1s ease;
    margin-top: 34vh;

    &.active {
        height: 600px;
        transition: all 1s ease;
    }
}

.loginRegisterPage__form-box {
    width: 100%;
    padding: 40px;

    &.form-box--login {
        transition: all 1s ease;
        transform: translateY(0px);
    }

    &.form-box--register {
        position: absolute;
        transition: all 1s ease;
        transform: translateY(600px);
    }
}

.loginRegisterPage__wrapper.active {
    .loginRegisterPage__form-box.form-box--login {
        transition: transform 1s ease;
        transform: translateY(-600px);
    }
    .loginRegisterPage__form-box.form-box--register {
        transition: transform 1s ease;
        transform: translateY(0px);
    }
}

/*LoginForm and RegisterForm*/

.LoginForm h1,
.RegisterForm h1 {
    font-size: 36px;
    text-align: center;
}

.LoginForm__input-box,
.RegisterForm__input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.LoginForm__input-box .icon,
.RegisterForm__input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
}

.LoginForm__input-box input,
.RegisterForm__input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
    font-size: 16px;
    color: $text_color_white;
    padding: 20px 45px 20px 20px;

    &::placeholder {
        color: $text_color_white;
    }
}

.RegisterForm__check-box,
.LoginForm__check-box {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: -15px;
}

.RegisterForm__check-box label input,
.LoginForm__check-box label input {
    accent-color: $checkbox_accent_color;
    margin-right: 4px;
}

.LoginForm__check-box a {
    color: $text_color_white;
    text-decoration: none;

    *:hover {
        text-decoration: underline;
    }
}

.LoginForm__response,
.RegisterForm__response {
    @include response;
}

.RegisterForm__response-link {
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px 50px;
    background: $background_color_white;
    border-radius: 40px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    color: $text_color_black;
    font-weight: 700;
}

.LoginForm__submit-btn,
.RegisterForm__submit-btn {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    background: $background_color_white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: $text_color_black;
    font-weight: 700;

    &:disabled {
        background-color: $text_color_grey;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        cursor: not-allowed;
    }
}
.LoginForm__link,
.RegisterForm__link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

    & p a {
        color: $text_color_white;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}
