@import '../variables';
@import '../mixins';

#notnuth {
    position: relative;
    height: 100vh;
    background-color: $background_color_white;
}

#notnuth .notnuth {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    max-width: 520px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
}

.notnuth .notnuth__content {
    height: 190px;
}

.notnuth .notnuth__content h1 {
    font-size: 146px;
    font-weight: 700;
    color: $text_color_black;
}

.notnuth .notnuth__content h1 > span {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    background-image: url('../../components/Assets/emoji.png');
    background-size: cover;
    transform: scale(1.4);
    z-index: -1;
}

.notnuth h2 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: $text_color_black;
}

.notnuth p {
    color: $text_color_grey;
    font-weight: 300;
    margin-bottom: 30px;
}

.notnuth a {
    @include pvz_button;
    font-size: 24px;
    letter-spacing: 2px;
}

@media only screen and (max-width: 767px) {
    .notnuth .notnuth__content {
        height: 115px;
    }
    .notnuth .notnuth__content h1 {
        font-size: 86px;
    }
    .notnuth .notnuth__content h1 > span {
        width: 86px;
        height: 86px;
    }
    .notnuth a {
        font-size: 16px;
        padding: 10px 16px;
    }
}
