@import '../variables';
@import '../mixins';

#profile {
    background-color: $sidebar_background_color;
}

.profile__container {
    display: flex;
    max-width: 1780px;
    margin: 0 auto;
}

/*profile sidebar*/

.profile__sidebar {
    width: 220px;
    background-color: $sidebar_background_color;
    padding: 20px;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.profile__sidebar .sidebar__button {
    @include profile_sidebar_btn;
    font-size: 18px;
    font-weight: 700;
}

.profile__sidebar .sidebar__button--delite-account {
    margin-top: auto;
    background-color: $delete_account_color;

    &:hover {
        background-color: $delete_account_hover_color;
    }

    &.active {
        background-color: $delete_account_color;
    }

    &.active:hover {
        background-color: $delete_account_hover_color;
    }

    &.active:active {
        background-color: $delete_account_hover_color;
    }
}

/*profile content*/
.profile__content--wrapper {
    position: relative;
    width: calc(100% - 220px);
    background: url(../../components/Assets/Profile-background.png) center/cover no-repeat;
}

.profile__content--wrapper::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 100%);
}

.profile__content {
    position: relative;
    padding: 30px 40px;
    height: 100%;
    z-index: 1;
}

/*profile tabs */

.profile__BasicInfo,
.profile__ChangePassword,
.profile__AdditionalInfo,
.profile__DeleteAccount {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: flex-start;
}

.profile__field {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.profile--label {
    font-size: 30px;
}

.profile--data {
    text-align: center;
    color: $text_color_white;
    background-color: $info_background_color;
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 40px;
    min-width: 350px;
}

.AdditionalInfo--data > * {
    text-align: left;
}

.profile--data::placeholder {
    color: $text_color_white;
}

.profile__button {
    @include profile_tabs_btn;
    font-size: 30px;
}

.DeleteAccount__button {
    background-color: $delete_account_color;

    &:not(:disabled):hover {
        background-color: $delete_account_hover_color;
    }

    &:not(:disabled):active {
        background-color: $delete_account_hover_color;
    }
}
