.Profile {
    background-image: url(../Assets/gwent.jpg);
    background-size: cover;
}

.Profile__container {
    display: flex;
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
}

/*profile sidebar*/

.Profile__sidebar {
    width: 220px;
    background-color: var(--sidebar-background-color);
    padding: 20px;
    height: calc(100vh - 80px); /* make sidebar full height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* add space between buttons */
}

.Profile__sidebar .sidebar__button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--unactive-button-color);
    color: var(--text-color-white);
    cursor: pointer;
    margin-bottom: 15px; /* add 15px margin between buttons */
}

.Profile__sidebar .sidebar__button:last-child {
    margin-bottom: 0; /* remove margin for the last button */
}

.Profile__sidebar .sidebar__button--delite-account {
    margin-top: auto; /* pin the "delite account" button to the bottom */
    background-color: var(--delete-account-color);
}

.Profile__sidebar .sidebar__button.active {
    background-color: var(--active-button-color); /* highlight active button */
}

/*profile content*/

.Profile__content {
    padding: 30px 40px;
    height: 100%;
}

/*Profile__BasicInfo */

.Profile__BasicInfo {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: flex-start;
}

.BasicInfo__UserInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.BasicInfo__UserName,
.BasicInfo__UserEmail,
.BasicInfo__UserRating,
.BasicInfo__UserWins {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.BasicInfo--label {
    font-size: 30px;
}

.BasicInfo--data {
    text-align: center;
    color: var(--text-color-white);
    background-color: var(--info-background-color);
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 40px;
    min-width: 350px;
}
