.Profile {
    background-color: var(--sidebar-background-color);
}

.Profile__container {
    display: flex;
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
}

/*profile sidebar*/

.Profile__sidebar {
    width: 220px;
    background-color: var(--sidebar-background-color);
    padding: 20px;
    height: calc(100vh - 80px); /* make sidebar full height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* add space between buttons */
}

.Profile__sidebar .sidebar__button {
    display: inline-block;
    padding: 12px 24px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background-color: var(--unactive-button-color); /* Цвет в стиле растений */
    border-radius: 10px;
    border: 3px solid #556b2f; /* Темно-зеленая окантовка */
    box-shadow: 0 10px #556b2f; /* Тень для кнопки */
    transition: all 0.2s ease;
}

.Profile__sidebar .sidebar__button:hover {
    background-color: var(--unactive-button-hover-color); /* Цвет при наведении */
    box-shadow: 0 6px #556b2f;
}

.Profile__sidebar .sidebar__button:active {
    box-shadow: 0 2px #556b2f;
    transform: translateY(4px); /* Эффект нажатия */
}

.Profile__sidebar .sidebar__button:last-child {
    margin-bottom: 0; /* remove margin for the last button */
}

.Profile__sidebar .sidebar__button--delite-account {
    margin-top: auto; /* pin the "delite account" button to the bottom */
    background-color: var(--delete-account-color);
}

.Profile__sidebar .sidebar__button--delite-account:hover {
    background-color: var(--delete-account-hover-color);
}

.Profile__sidebar .sidebar__button.active {
    background-color: var(--active-button-color); /* highlight active button */
}

.Profile__sidebar .sidebar__button.active:hover {
    background-color: var(--active-button-hover-color);
}

/*profile content*/
.Profile__content--wrapper {
    position: relative;
    width: calc(100% - 220px);
    background-image: url(../Assets/gwent.jpg);
    background-size: cover;
    background-position: center;
}

.Profile__content--wrapper::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    z-index: 0;
}

.Profile__content {
    position: relative;
    padding: 30px 40px;
    height: 100%;
    z-index: 1;
}

/*Profile__BasicInfo */

.Profile__BasicInfo {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: flex-start;
}

.BasicInfo__UserInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.BasicInfo__UserName,
.BasicInfo__UserEmail,
.BasicInfo__UserRating,
.BasicInfo__UserWins {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.BasicInfo--label {
    font-size: 30px;
}

.BasicInfo--data {
    text-align: center;
    color: var(--text-color-white);
    background-color: var(--info-background-color);
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 40px;
    min-width: 350px;
}

/*Profile__ChangePassword*/

.Profile__ChangePassword {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: flex-start;
}

.ChangePassword__OldPassword,
.ChangePassword__NewPassword,
.ChangePassword__ConfirmNewPassword {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.ChangePassword--label {
    font-size: 30px;
}

.ChangePassword--data {
    text-align: center;
    color: var(--text-color-white);
    background-color: var(--info-background-color);
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 40px;
    min-width: 350px;
}

.ChangePassword--data::placeholder {
    color: var(--text-color-white);
}

.ChangePassword__button {
    display: inline-block;
    padding: 12px 40px;
    min-width: 200px;
    font-size: 30px;
    font-weight: bold;
    color: var(--text-color-white);
    text-decoration: none;
    text-align: center;
    background-color: var(--active-button-color); /* Цвет в стиле растений */
    border-radius: 10px;
    border: 3px solid #556b2f; /* Темно-зеленая окантовка */
    box-shadow: 0 8px #556b2f; /* Тень для кнопки */
    transition: all 0.2s ease;
}

.ChangePassword__button:not(:disabled):hover {
    background-color: var(--active-button-hover-color); /* Цвет при наведении */
    box-shadow: 0 6px #556b2f;
}

.ChangePassword__button:not(:disabled):active {
    box-shadow: 0 3px #556b2f;
    transform: translateY(4px); /* Эффект нажатия */
}

.ChangePassword__button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

/*Profile__DeleteAccount*/

.Profile__DeleteAccount {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: flex-start;
}

.DeleteAccount__Password {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.DeleteAccount--label {
    font-size: 30px;
}

.DeleteAccount--data {
    text-align: center;
    color: var(--text-color-white);
    background-color: var(--info-background-color);
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 40px;
    min-width: 350px;
}

.DeleteAccount--data::placeholder {
    color: var(--text-color-white);
}

.DeleteAccount__button {
    display: inline-block;
    text-align: center;
    padding: 12px 40px;
    font-size: 30px;
    min-width: 200px;
    font-weight: bold;
    color: var(--text-color-white);
    background-color: var(--delete-account-color); /* Цвет в стиле растений */
    border-radius: 10px;
    border: 3px solid #556b2f; /* Темно-зеленая окантовка */
    box-shadow: 0 8px #556b2f; /* Тень для кнопки */
    transition: all 0.2s ease;
}

.DeleteAccount__button:not(:disabled):hover {
    background-color: var(--delete-account-hover-color); /* Цвет при наведении */
    box-shadow: 0 6px #556b2f;
}

.DeleteAccount__button:not(:disabled):active {
    box-shadow: 0 3px #556b2f;
    transform: translateY(4px); /* Эффект нажатия */
}

.DeleteAccount__button:disabled {
    background-color: grey;
    cursor: not-allowed;
}
