.Profile {
    background-image: url(../Assets/gwent-table.jpeg);
}

.Profile__container {
    display: flex;
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
}

/*profile sidebar*/

.Profile__sidebar {
    width: 220px;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: calc(100vh - 80px); /* make sidebar full height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* add space between buttons */
}

.Profile__sidebar .sidebar__button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    margin-bottom: 15px; /* add 15px margin between buttons */
}

.Profile__sidebar .sidebar__button:last-child {
    margin-bottom: 0; /* remove margin for the last button */
}

.Profile__sidebar .sidebar__button--delite-account {
    margin-top: auto; /* pin the "delite account" button to the bottom */
    background-color: darkred;
}

.Profile__sidebar .sidebar__button.active {
    background-color: #337ab7; /* highlight active button */
    color: #fff;
}

/*profile content*/

/* .Profile__content {
    width: 100%;
} */

/*BasicInfo */

.Profile__BasicInfo {
    padding: 30px 40px;
    padding-bottom: 0;
    height: 100%;
    /*background: rgb(255, 255, 255);*/
}

/*BasicInfo UserProfile*/

.BasicInfo__UserProfile {
    display: flex;
    column-gap: 40px;
    margin-bottom: 30px;
}

.BasicInfo__UserIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 256px;
    font-size: 200px;
    background-color: rebeccapurple;
    border-radius: 20%;
}

.BasicInfo__UserInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.BasicInfo__UserName--label,
.BasicInfo__UserEmail--label {
    font-size: 30px;
    margin-bottom: 10px;
}

.BasicInfo__UserName--data,
.BasicInfo__UserEmail--data {
    text-align: center;
    color: #fff;
    background-color: grey;
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 40px;
}

/*BasicInfo games*/

.BasicInfo__games {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    max-width: 1000px;
}

.BasicInfo__rating--label,
.BasicInfo__wins--label {
    font-size: 30px;
    margin-bottom: 10px;
}

.BasicInfo__rating--data,
.BasicInfo__wins--data {
    text-align: center;
    color: #fff;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 40px;
    width: 350px;
}
