.Profile__container {
    display: flex;
}

/*profile sidebar*/

.Profile__sidebar {
    width: 220px;
    background-color: #f0f0f0;
    padding: 20px;
    border-right: 1px solid #ddd;
    height: calc(100vh - 80px); /* make sidebar full height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* add space between buttons */
}

.Profile__sidebar .sidebar__button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    margin-bottom: 15px; /* add 15px margin between buttons */
}

.Profile__sidebar .sidebar__button:last-child {
    margin-bottom: 0; /* remove margin for the last button */
}

.Profile__sidebar .sidebar__button--delite-account {
    margin-top: auto; /* pin the "delite account" button to the bottom */
    background-color: darkred;
}

.Profile__sidebar .sidebar__button.active {
    background-color: #337ab7; /* highlight active button */
    color: #fff;
}

/*profile content*/

.Profile__content {
    width: 100%;
}
