/*loginRegisterPage*/
.loginRegisterPage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: url(../Assets/gwent.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.loginRegisterPage__wrapper {
    position: relative;
    width: 420px;
    height: 450px;
    background: var(--form-background-color);
    border-radius: 10px;
    color: var(--text-color-white);
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: height 0.2s ease;
    margin-top: 34vh;
}

.loginRegisterPage__wrapper.active {
    height: 600px;
}

.loginRegisterPage__wrapper .loginRegisterPage__form-box {
    width: 100%;
    padding: 40px;
}

.loginRegisterPage__wrapper .loginRegisterPage__form-box.form-box--login {
    transition: transform 0.18s ease;
    transform: translateY(0px);
}

.loginRegisterPage__wrapper.active .loginRegisterPage__form-box.form-box--login {
    transition: transform 0.18s ease;
    transform: translateY(-600px);
}

.loginRegisterPage__wrapper .loginRegisterPage__form-box.form-box--register {
    position: absolute;
    transition: transform 0.18s ease;
    transform: translateY(600px);
}

.loginRegisterPage__wrapper.active .loginRegisterPage__form-box.form-box--register {
    transition: transform 0.18s ease;
    transform: translateY(0px);
}

/*LoginForm and RegisterForm*/

.LoginForm h1,
.RegisterForm h1 {
    font-size: 36px;
    text-align: center;
}

.LoginForm__input-box,
.RegisterForm__input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.LoginForm__input-box input,
.RegisterForm__input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
    font-size: 16px;
    color: var(--text-color-white);
    padding: 20px 45px 20px 20px;
}

.LoginForm__input-box input::placeholder,
.RegisterForm__input-box input::placeholder {
    color: var(--text-color-white);
}

.LoginForm__input-box .icon,
.RegisterForm__input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
}

.RegisterForm__check-box,
.LoginForm__check-box {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: -15px;
}

.RegisterForm__check-box label input,
.LoginForm__check-box label input {
    accent-color: var(--checkbox-accent-color);
    margin-right: 4px;
}

.LoginForm__check-box a {
    color: var(--text-color-white);
    text-decoration: none;
}

.LoginForm__check-box a:hover {
    text-decoration: underline;
}

.LoginForm__response,
.RegisterForm__response {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.LoginForm__response > *,
.RegisterForm__response > * {
    padding: 10px 0;
}

.LoginForm__response.code--200,
.RegisterForm__response.code--200 {
    color: lightgreen;
    border: darkgreen double 3px;
    background-color: green;
}

.LoginForm__response.code--404,
.RegisterForm__response.code--409 {
    color: red;
    border: darkred double 3px;
    background-color: lightcoral;
}

.RegisterForm__response-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    padding: 15px 30px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: var(--text-color-black);
    font-weight: 700;
}

.LoginForm__submit-btn,
.RegisterForm__submit-btn {
    width: 100%;
    height: 45px;
    margin-top: 15px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: var(--text-color-black);
    font-weight: 700;
}

.LoginForm__submit-btn:disabled,
.RegisterForm__submit-btn:disabled {
    background-color: grey;
    outline: red;
    cursor: not-allowed;
}

.LoginForm__link,
.RegisterForm__link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.LoginForm__link p a,
.RegisterForm__link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.LoginForm__link p a:hover,
.RegisterForm__link p a:hover {
    text-decoration: underline;
}
