/* @font-face {
    font-family: 'Grobold';
    src: url('path_to_grobold_font/Grobold.ttf') format('truetype'); 
} 
*/

#home {
    background-image: url(../Assets/gwent.jpg);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 80px);
}

#home .home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home__container .home__btn {
    display: inline-block;
    padding: 50px 100px; /* Увеличение размеров */
    font-size: 5em; /* Увеличение размера шрифта */
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background-color: #6b8e23; /* Цвет в стиле растений */
    border-radius: 30px; /* Более плавное закругление углов */
    border: 3px solid #556b2f; /* Темно-зеленая окантовка */
    box-shadow: 0 20px #556b2f; /* Тень для кнопки */
    transition: all 0.2s ease;
    font-family: 'Grobold', sans-serif; /* Шрифт, похожий на стиле игры */
}

#home .home__container .home__btn:hover {
    background-color: #7fbf2f; /* Цвет при наведении */
    box-shadow: 0 16px #556b2f;
}

#home .home__container .home__btn:active {
    box-shadow: 0 5px #556b2f;
    transform: translateY(4px); /* Эффект нажатия */
}
