/*---------------------logo*/
.header {
    padding: 20px 0;
    background-color: aquamarine;
}

.header_container{
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_link{
    text-decoration: none;
    color: black;
    text-align: center;
}

/*---------------------username*/

.header_menu{
    position: relative;
}

.menu_icon{
    position: absolute;
    top:50%;
    left: 12px;
    transform: translateY(-50%);
}

.menu_button{
    height: 40px;
    width: 150px;
    padding: 5px;
    border: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.header_dropdown{
    position: absolute;
    right: 0px;
    top: 45px;
    width: 150px;
    background-color: #fff;
    border: 1px solid #000000;
    opacity: 0;
    border-radius: 5px;
    transform: translateY(10px);
    visibility: hidden;
    transition: 0.3s;
}

.header_dropdown.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.menu_list {
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.menu_item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
    font-weight: 500;
    color: grey;
    cursor: pointer;
    padding: 0 20px;
}

.menu_item:first-child{
    padding-top: 20px;
}
.menu_item:last-child{
    padding-bottom: 20px;
}

.menu_item:not(:last-child)::after{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000000;
    left:0;
    bottom:-10px;

}

.menu_item.icon {
    margin-right: 15px;
    font-size: 14px;
    color: gray;
} 