/*---------------------logo*/
.header {
    padding: 20px 0;
    background-color: var(--header-color);
}

.header_container {
    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_link {
    text-decoration: none;
    color: var(--text-color-black);
    text-align: center;
}

/*header menu*/

.header_menu {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 150px;
}

.menu_icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-45%);
    font-size: 16px;
}

.menu_button {
    height: 40px;
    width: 100%;
    padding: 10px 20px;
    padding-left: 40px;
    border: none;
    background-color: var(--backgorund-color-white);
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.header_dropdown {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 45px;
    min-width: 150px;
    background-color: var(--backgorund-color-white);
    border: 1px solid #000000;
    opacity: 0;
    border-radius: 5px;
    transform: translateY(10px);
    visibility: hidden;
    transition: 0.3s;
}

.header_dropdown.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.menu_list {
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.menu_item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color-black);
    cursor: pointer;
    padding: 20px 20px;
}

.menu_link:not(:last-child) .menu_item::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000000;
    left: 0;
    bottom: 0;
}

.menu_item.icon {
    margin-right: 15px;
    font-size: 14px;
    color: gray;
}
