@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: 'Plants';
    src: url('./fonts/samdan-webfont.woff2') format('woff2'),
        url('./fonts/samdan-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Zombies';
    src: url('./fonts/samdanevilcondensed-webfont.woff2') format('woff2'),
        url('./fonts/samdanevilcondensed-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

:root {
    /*Common*/
    --text-color-black: #3a3a3a;
    --text-color-white: #ffffff;
    --backgorund-color-white: #ffffff;

    /*Login Register*/
    --checkbox-accent-color: #8988b6;
    --form-background-color: #636284;

    /*Header*/
    --header-color: #636284;

    /*Profile*/
    --sidebar-background-color: #8988b6;
    --info-background-color: #636284;
    --unactive-button-color: #ff9a09;
    --active-button-color: #73c602;
    --delete-account-color: #ff4242;
}
