/*Common*/
$text_color_black: #3a3a3a;
$text_color_white: #ffffff;
$background_color_white: #ffffff;

/*Login Register*/
$checkbox_accent_color: #8988b6;
$form_background_color: #636284;

/*Header*/
$header_color: #636284;

/*Profile*/
$sidebar_background_color: #8988b6;
$info_background_color: #636284;
$unactive_button_color: #ff9a09;
$unactive_button_hover_color: #af6a09;
$active_button_color: #73c602;
$active_button_hover_color: #4b8001;
$delete_account_color: #ff4242;
$delete_account_hover_color: #882323;
